.root {
	-fx-background-color: #616161;
	-fx-font-size: 18.0;
	
}


.tree-view, .tree-cell {
	-fx-background-color: #616161;
	-fx-text-fill: whitesmoke;
	-fx-font-family: "Arial Narrow";
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
	-fx-background-radius: 20.0;
}

.tree-cell:selected {
	-fx-background-color: linear-gradient(#61a2b1, #2A5058)
		radial-gradient(center 50.0% 50.0%, radius 100.0%, #61a2b1, #2A5058);

	-fx-text-fill:  whitesmoke;
	-fx-font-size: 25.0;
	-fx-font-weight: bold;
}