.root {
	-fx-background-image: url("/com/setting/image/background.jpg");
}

.split-pane{
	-fx-background-image: url("/com/setting/image/background.jpg");
    -fx-background-color:whitesmoke;
    -fx-background-radius: 10.0;
}

.text-field{
    -fx-background-color:  #616161;
    -fx-font-size: 18.0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #61a2b1 ;
}

.tree-view, .tree-cell {
	-fx-background-color: #616161;
	-fx-text-fill: whitesmoke;
	-fx-font-family: "Arial Narrow";
	-fx-font-size: 18.0;
	-fx-font-weight: bold;
}

.tree-cell:selected {
	-fx-background-color: linear-gradient(#61a2b1, #2A5058)
		radial-gradient(center 50.0% 50.0%, radius 100.0%, #61a2b1, #2A5058);

	-fx-text-fill:  whitesmoke;
	-fx-font-size: 25.0;
	-fx-font-weight: bold;
}
.label{
	-fx-font-size: 20.0;
}