.root{
	-fx-background-color: transparent;
}

.button {
  -fx-text-fill: whitesmoke;
  -fx-border-color: transparent;
    -fx-font-size: 15.0;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 30.0;
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-text-fill: #c62b00;
}
