.root { -fx-background-color: transparent; }

.progress-indicator {    
    -fx-progress-color: transparent;    
}
.progress-indicator .indicator {
    -fx-background-color:#2A5058;
    -fx-border-color: -fx-box-border;  
}
.progress-indicator .progress {
    -fx-background-color: #61a2b1;       
     -fx-padding: 2em; 
}
.progress-indicator:indeterminate .spinner {    
    -fx-padding: 1.5em;
}
.progress-indicator .percentage {
    -fx-font: 11px "Segoe UI";    
    -fx-text-fill: #212121;    
}

.progress-bar > .track {
    -fx-background-color: #61a2b1; 
}
.progress-bar .bar {
    -fx-background-color: #2A5058;
    }